body {
  /* width: 960px; */
  
  margin: auto;
}

main {
  /* background-color: green; */
  background-image: radial-gradient(1300px, green, black);
}

#hit-button {
  border: 1px solid black;
  width: max-content;
  font-size: 5em;
  margin-bottom: 10px;
  padding: 10px;
  float: right;
  margin-right: 1em;
  color: whitesmoke;
  background-color: red;
  /* position: fixed; */
}
#stand-button {
  border: 1px solid black;
  width: max-content;
  font-size: 5em;
  padding: 10px;
  float: right;
  margin-right: 15em;
  color: whitesmoke;
  background-color: red;
  /* position: fixed; */

}

#double-down{
  border: 1px solid black;
  width: max-content;
  font-size: 5em;
  padding: 10px;
  float: right;
  margin-right: 15em;
  color: whitesmoke;
  background-color: red;
}

#deck-of-cards{
  display: inline-flex;
  margin-left: 30%;
  margin-top: 5%
  height 100px;
  

}

aside {
  float: right;
  height: 100px;
  width: 200px;
  /* background-color: black; */
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 150px;
  font-size: 50px;
  padding: 60px;
}
 
li {
   border: 8px solid black;
   margin: 5px;
   text-decoration: none;
   padding: 3px;
   background-color: red;
   color: whitesmoke;
 }

 #dealer-cards {
  margin: auto;
  text-align: center;
  /* display: inline-flex; */
  /* display: flex; */
}

#player-cards {
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100;
}
