body {
  width: 1900px;
  background-image: radial-gradient(1200px, green, black);
  margin: auto;
}

main {
  /* background-color: green; */
  
}

#hit-button {
  border: 1px solid black;
  width: max-content;
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  /* float: right; */
  margin-right: 1em;
  color: whitesmoke;
  background-color: red;
  display: inline-flex;
  position: absolute;
  left: 60%;
  /* bottom: 9%; */
}
#stand-button {
  border: 1px solid black;
  width: max-content;
  font-size: 2em;
  padding: 10px;
  /* float: right; */
  margin-right: 15em;
  color: whitesmoke;
  background-color: red;
  display: inline-flex;
  position: absolute;
  left: 63%;
  /* bottom: 9.7%; */

}

#double-down{
  border: 1px solid black;
  width: max-content;
  font-size: 2em;
  padding: 10px;
  /* float: right; */
  margin-right: 15em;
  color: whitesmoke;
  background-color: red;
  display: inline-flex;
  position: absolute;
  left: 67.5%;
  /* bottom: 9.7%; */
}

#deck-of-cards{
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%
  height 100px;
  box-shadow: 30px 0px 15px rgba(0, 0, 0, 0.384);
  margin-top: 20px;
  margin-bottom: 20px;
  }

article  {
  color: whitesmoke;
  font-size: 50px;
  border: 10px groove gold;
  z-index: 2;
  background-color: red;
  width: max-content;
  position: absolute;
  left: 33%;
  top: 45%;

}

aside {
  position: absolute;
  right: 5px;
  height: 100px;
  width: 200px;
  font-size: 50px;
  padding: 60px;
}

a{
  text-decoration: none;
  color: black;
}
 
li {
   border: 10px groove gold;;
   margin: 5px;
   text-decoration: none;
   padding: 3px;
   background-color: gold;
   color: whitesmoke;
   list-style-type: none;
 }

 #dealer-cards {

  /* margin: auto; */
  /* text-align: center; */
  /* display: inline-block; */
  /* width: max-content; */
  /* width: 80%; */

  
  /* display: inline-flex; */
  /* display: flex; */
}
 #image-one, #image-two, #image-three, #image-four {
   box-sizing: border-box;
   border: 10px groove gold;
   margin: 10px;
 }

#player-cards {
  margin: auto;
  /* text-align: center; */
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100;
}
img{
  width: 280px;
  height: 400px;
}

#player-buttons div4 {
  color: whitesmoke;
  font-size: 30px;
  text-decoration: underline;
  position: absolute;
  left: 25%;
  bottom: 10%;
}
#player-hand{
  margin-left: 30%;
  margin-top: 17%;
}
#dealer-hand {
  display: inline-block;
  width: 70%;
}
#p1, #p2{
  color:whitesmoke;
  text-align: center;
}
#dealer-score {
  color: whitesmoke;
  height: 30px;
  
}
#player-buttons{
  margin-top: 20px;
}

#leaderboard{
  background-color: rgba(0, 0, 0, 0.199);
  width: 330px;
  font-size: 40px;
  position: absolute;
  top: 42%;
  left: 4%;
  border: 10px inset gold;
  box-shadow: 0px 10px 40px black;
  text-align: center;
}

h1{
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}
